<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HostBooking</title>
</head>
<header>
    <h1>HostBooking</h1>
    <select name="" id="">
        {% for category in categories  %}
        <option value="" onclick="filterSelection('{{ category.0 }}')"> {{ category.0 }}</option>
        {% endfor %}
    </select>
</header>
<body>
    {% for property in properties %}
    <div class="card filterDiv {{ property.category }}">  
        <div class="img-container">
            <img src="{{ property.image.url }}" alt="">
        </div>
        <div class="container_info" style="text-align: left;">
            <div class="info">
                <span>{{ property.city.name }}</span>
                <span>{{ property.category }}</span>
            </div>
            <h1 class="title">{{ property.title }}</h1>
            <p class="desc">
                {{ property.description }} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore consequuntur quia consequatur quam inventore obcaecati, hic vero iste, tempora aliquid facilis. Rerum, nihil voluptatem! Ipsam voluptatum quidem earum quisquam totam!
            </p>
            
            <a href="../property_page/?id_property={{ property.id }}" class="see-more">Ver más</a>
            <p class="price">{{property.price_per_day}}/noche</p>
        </div>
    </div>  
    {% endfor %}
    
</body>
</html>