<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/property_page.css' %}">
</head>
<body>
    <!-- Pantalla dividida en dos, del lado izquierdo una foto de la propiedad
    del lado derecho todos los datos de la misma más un botón de reservar que llevaría al admin
    para completar los datos necesarios del usuario y procesar la reserva -->
    <div class="split left">
        <div class="centered">
          <img src="{{ property_aux.image }}" alt="Image">
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
          <h2>{{ property_aux.title }}</h2>
          <p>{{ property_aux.category }} / {{ property_aux.city }}</p>
          <p>{{ property_aux.description }}</p>
          <p>
              <b>
                <i class="fas fa-door-closed"></i> {{ property_aux.bedrooms }}
                <i class="fas fa-bed"></i> {{ property_aux.beds }}
                <i class="fas fa-toilet"></i> {{ property_aux.bathrooms }}
                <i class="fas fa-user"></i> {{ property_aux.max_persons }}
              </b>
          </p>
          <p>
              <!-- ver como agregar el tema de los servicios y el rango de fechas disponible -->
          </p>
          <p>
              <h3>{{ property_aux.price_per_day }}</h3>
          </p>
          <p>
            <form action="../admin/"> <!-- fijarse como enviar al admin y que vea directamente la pagina 
            de la reserva en cuestion para completar los datos faltantes-->
                <input type="submit" class="btn btn-success" value="Reservar">
            </form>
          </p>
        </div>
      </div>
</body>
</html>