<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-single-page.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <title>HostBooking</title>
</head>
<body>
    <header>
        <h1> <a href="../homescreen/" id="site-title"> HostBooking </a></h1>
    </header>
    <div class="container">
        <div class="img-container">
            <img src="{{ property_aux.image.url }}" alt="">
        </div>
        
        <div class="info-to-send">
            <h2>{{ property_aux.title }}</h2>
            <form action="../reservation/" method="POST">
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="text" name="apellido" placeholder="Apellido">
                <input type="email" name="email" placeholder="E-mail">
                <input type="text" name="daterange" id="date-range" onchange="chargeValues()" value="" />
                <input type="hidden" name="property_id" value="{{ property_aux.id }}" value="">
                <input type="hidden" name="final_price" id="final-price-input" value="" >
                <input type="hidden" name="quantity-days"  id="quantity-days" value="" >
                <p>Precio final: $<span id="final-price">-</span></p>
                <button>RESERVAR</button>
            </form>
            <input  id="price-per-day" type="hidden" value="{{property_aux.price_per_day}}">
        </div>
        <div class="info" style="display:grid; grid-template-columns: 15% 50%; grid-gap: 25px">
            <img class="img-info" src="{% static 'img/user.png'%}" alt=""><p>{{ property_aux.user.username }}</p>
            <img class="img-info" src="{% static 'img/city.png'%}" alt=""><p>{{ property_aux.city.name }}</p>
            <img class="img-info" src="{% static 'img/description.png'%}"  alt=""><p id="description" style="margin-top: 0!important"> {{ property_aux.description }}</p>
            <img class="img-info" src="{% static 'img/mx-persons.png'%}" alt=""><p>{{ property_aux.max_persons }}</p>
            <img class="img-info" src="{% static 'img/bedroom.png'%}" alt=""><p>{{ property_aux.bedrooms }}</p>
            <img class="img-info" src="{% static 'img/bed.png'%}" alt=""><p>{{ property_aux.beds }}</p>
            <img class="img-info" src="{% static 'img/bathroom.png'%}" alt=""><p>{{ property_aux.bathrooms }}</p>
        </div>
        <script>
            var myDiv = $('#description');
            myDiv.text(myDiv.text().substring(0,50))
            myDiv.text(myDiv.text()+" ...");
        </script>
    </div>
</body>
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
              opens: 'left'              
          }, function(start, end, label) {
            
              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          });

          

        });
        function chargeValues(){
          var dates = document.getElementById("date-range").value;
          var array_dates = dates.split(" - ");
          console.log(array_dates)
          var first_date = array_dates[0].split("/");
          var second_date = array_dates[1].split("/");
          console.log(first_date);
          console.log(second_date);
          var diff = Math.abs(new Date(first_date[2],first_date[0],first_date[1]) - new Date(second_date[2],second_date[0],second_date[1]));
          var days = diff / (1000 * 3600 * 24);
          console.log(days+" ->days");
          document.getElementById("quantity-days").value = days;
          var final_price = document.getElementById("price-per-day").value * days;
          document.getElementById("final-price-input").value = final_price;
          $("#final-price").empty();
          $("#final-price").html(final_price);

        }
        

    </script>

</html>